<%= bootstrap_devise_error_messages! %>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :sirname %>
        <%= f.text_field :sirname, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, autofocus: true, class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.label :gender, "Gender: ", class: 'control-label'  %>
            <%= f.radio_button :gender, true %> <%= f.label :gender, "Female" %>
            <%= f.radio_button :gender, false %> <%= f.label :gender, "Male" %>
       </div>
      <div class="form-group">
        <%= f.label :mobile %>
        <%= f.text_field :mobile, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :batch %>
            <%= f.select :batch, options_for_select(User::BATCH, f.object.batch) ,{:prompt => "Choose your Batch"},label: "Choose your favorite fruit:",class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_location %>
        <%= f.text_field :current_location, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :education_qualification %>
        <%= f.text_field :education_qualification, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :profession %>
        <%= f.select :profession , options_for_select(User::PROFESSION, f.object.profession),{:prompt => "Choose your Profession"},label: "Choose your favorite fruit:",class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :industry %>
        <%= f.text_field :industry, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :aboutme %>
        <%= f.text_area :aboutme, autofocus: true, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :avatar,class: 'control-label'  %>
            <%= f.file_field :avatar, class: "file-loading", id: "input-4" %>
      </div>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>

