
  <div class="panel-body">
    <%= form_for @user, :html => { :class => 'form-horizontal user_form' } do |f| %>
    <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.label :surname %>
        <%= f.text_field :surname, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :mobile %>
        <%= f.text_field :mobile, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :date_of_birth %>
        <%= f.date_field :date_of_birth, autofocus: true, class: "form-control" %>
      </div>
       <div class="form-group">
        <%= f.label :gender, "Gender: ", class: 'control-label'  %>
            <%= f.radio_button :gender, true %> <%= f.label :gender, "Female" %>
            <%= f.radio_button :gender, false %> <%= f.label :gender, "Male" %>
       </div>
      <div class="form-group">
        <%= f.label :batch %>
        <%= f.select :batch, options_for_select(User::BATCH, f.object.batch) ,{:prompt => "Choose your Batch"},label: "Choose your favorite fruit:",class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :bloodgroup %>
            <%= f.select :bloodgroup, options_for_select(User::BLOODGROP, f.object.bloodgroup) ,{:prompt => "Select your Blood Group"},label: "Select your Blood Group:",class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :current_location %>
        <%= f.text_field :current_location, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :education_qualification %>
        <%= f.text_field :education_qualification, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :profession %>
        <%= f.text_field :profession, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
<!--         <%= f.label :industry %> -->
      <b>Industry (or) Institution</b>
        <%= f.text_field :industry, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :designation %>
        <%= f.text_field :designation, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :address %>
        <%= f.text_area :address, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :aboutme %>
        <%= f.text_area :aboutme, autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :facebook %>
        <%= f.text_field :facebook, autofocus: true, class: "form-control", placeholder: "https://www.facebook.com/yourTag" %>
      </div>
      <div class="form-group">
        <%= f.label :twitter %>
        <%= f.text_field :twitter, autofocus: true, class: "form-control",  placeholder: "https://twitter.com/yourTag"  %>
      </div>
      <div class="form-group">
        <%= f.label :linkedin %>
        <%= f.text_field :linkedin, autofocus: true, class: "form-control", placeholder: "https://in.linkedin.com/in/yourTag" %>
      </div>
     <div class="form-group">
        <%= f.label :avatar,class: 'control-label'  %>
            <%= f.file_field :avatar %>
      </div>
      <!-- <div class="form-group">
        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i>
        <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control"  %>
      </div>
      <div class="form-group">
        <%= f.label :current_password %> <i>(<%= t('.we_need_your_current_password_to_confirm_your_changes', :default => 'we need your current password to confirm your changes') %>)</i>
        <%= f.password_field :current_password, class: "form-control" %>
      </div> -->
      <% if @user == current_user || current_user.admin?%>
      <%= f.submit t('.update', :default => "Update"), class: "btn btn-primary" %>
      <%end%>
    <% end %>
</div>
