<div class="container text-center">
  <div class="row">
    <div class="col-sm-3 well">
      <div class="well">
        <p> <%= @user.name %></p>
         <%if @user.avatar? %>
          <%= image_tag(@user.avatar.url(:thumb),  class: "img-rounded" , height: "220", width: "220")%>
         <% else %>
          <%if @user.gender == "false"%>
            <%= image_tag("/images/boy.png", class: ".img-rounded", height: "150", width: "170")%>
          <%else%>
            <%= image_tag("/images/girl.png", class: ".img-rounded", height: "150", width: "170")%>
          <%end %>
         <%end%>
        
        <!-- <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar"> -->
      </div>
      <div class="well">
        <p><a href="#">Interests</a></p>
        <p>
          <span class="label label-default">News</span>
          <span class="label label-primary">W3Schools</span>
          <span class="label label-success">Labels</span>
          <span class="label label-info">Football</span>
          <span class="label label-warning">Gaming</span>
          <span class="label label-danger">Friends</span>
        </p>
      </div>
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p><strong>Ey!</strong></p>
        People are looking at your profile. Find out who.
      </div>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
      <p><a href="#">Link</a></p>
    </div>
    <div class="col-sm-7">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p contenteditable="true"></p>
              <p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @user.date_of_birth %>
</p>
<p>
  <strong>Batch:</strong>
  <%= @user.batch %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>
<p>
  <strong>Industry:</strong>
  <%= @user.industry %>
</p>
<p>
  <strong>Current Location:</strong>
  <%= @user.current_location %>
</p>
<p>
  <strong>Education Qualification:</strong>
  <%= @user.education_qualification %>
</p>
<p>
  <strong>Profession:</strong>
  <%= @user.profession %>
</p>
<p>
  <strong>Address:</strong>
  <%= @user.address %>
</p>
<p>
  <strong>Aboutme:</strong>
  <%= @user.aboutme %>
</p>


<%if current_user.admin == true%>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%end%>
<%= link_to 'Back', users_path %>
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-thumbs-up"></span> Like
              </button>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-sm-3">
         
        </div>
        <div class="col-sm-9">
        
        </div>
      </div>
    </div>
    <% if @event.count != 0%>
    <div class="col-sm-2 well">
      <div class="thumbnail">
        <p>Upcoming Events:</p>
        <%if @event.last.avatar? %>
          <%= image_tag(@event.last.avatar.url(:thumb), class: "img-rounded" , height: "70", width: "70")%>
         <% else %>
           <!--  <%= image_tag("/images/navodayans_small.png", class: "img-rounded", height: "70", width: "70")%> -->
         <%end%>
        <p><strong><%=@event.last.name%></strong></p>
        <p><%= @event.last.when.strftime("%A, %d %b %Y %I:%M%p")%></p>
        <%=link_to "Info", events_path, class:"btn btn-primary"%>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <%end%>
  </div>
</div>